<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<!-- Sidebar -->
<section layout:fragment="sidebar">
    <ul class="sidebar navbar-nav">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/dashboard}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/addsymptom}">
                <i class="fas fa-fw fa-plus"></i>
                <span>Add Symptom</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" th:href="@{/removesymptom}">
                <i class="fas fa-fw fa-times"></i>
                <span>Remove Symptom</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="charts.html">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Charts</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="tables.html">
                <i class="fas fa-fw fa-table"></i>
                <span>Tables</span></a>
        </li>
    </ul>
</section>
<!--sidebar ends -->

<section layout:fragment="content">
    <!-- Page Content -->
    <div class="container">
        <h1>Custom Checkboxes</h1></br>

        <label class="customcheck">One
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
        </label>
        <label class="customcheck">Two
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label class="customcheck">Three
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label class="customcheck">Four
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>
    </div>
</section>

</html>
